<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>
  <body>
    <div id="mainImg">
      <img src="/images/logo.png" alt="" />
    </div>
    <div id="nav">
      <div id="heading">
        <h1>THE STATE BANK OF SPARK</h1>
      </div>
      <h2 style="font-size: 50px">Simple and Safe Banking</h2>
      <h4 style="font-size: 20px">Approved my Millions of users worldwide</h4>

      <div id="picture-bar">
        <div id="One">
          <div class="imageEdit">
            <img src="/images/multiple-user.png" alt="Multiple users" />
          </div>
          <div id="otheruser"><a href="/bank/all-clients">Other Users</a></div>
        </div>
        <div id="Two">
          <div>
            <img src="/images/mobile-banking.png" alt="Transfer Money" />
          </div>
          <div>
            <a href="/bank/transfer-funds">Transfer Money</a>
          </div>
        </div>
        <div id="Three">
          <div>
            <img src="/images/time-management.png" alt="Transaction History" />
          </div>
          <div>
            <a href="/bank/transaction-history">Transaction History</a>
          </div>
        </div>
      </div>
    </div>

    <div id="footerAddress">
      <div id="contact" class="d-j">
        <img class="classImg" src="/images/map-pin.png" alt="Location" />
        <h3>ADDRESS</h3>
      </div>
      <div id="address" class="d-j">
        <p>
          THE HANGAR, NUS ENTERPRISE 21 HENG MUI KENG TERRACE SINGAPORE, 119613
        </p>
      </div>

      <div id="footerContact">
        <div id="contactNumber" class="d-j">
          <img class="classImg" src="/images/smartphone.png" alt="Contact Number" />
          <h3>CONTACT NO.</h3>
        </div>
        <div id="number" class="d-j">
          <p>+65-8402-8590</p>
        </div>
      </div>

      <div id="email">
        <div id="emailImg" class="d-j">
          <img class="classImg" src="/images/gmail.png" alt="Email" />
          <h3>Email</h3>
        </div>
        <div id="emailInfo" class="d-j">
          <p>info@thesparksfoundation.sg</p>
        </div>
      </div>
    </div>
  </body>
</html>
