<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Other Users</title>
    <link rel="stylesheet" href="/css/otherUser.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="nav">
      <div id="LogoPg1">
        <img src="/images/logo.png" alt="" />
      </div>
      <div id="butns">
        <a href="/bank/dashboard">Home</a>
        <a href="/bank/transfer-funds">Transfer Money</a>
        <a href="/bank/transaction-history">Transfer History</a>
      </div>
    </div>

    <div id="main">
      <div id="customer">
        <h1>CUSTOMERS</h1>
      </div>
      <div id="table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody id="data"></tbody>
        </table>
      </div>
    </div>
  </body>

  <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
  <script>
    $.ajax({
      url: "https://spark-production-e1c3.up.railway.app/bank/clients",
      success: function (response) {
        let usersList = Array.from(response.data);

        let html = "";
        usersList.forEach((user) => {
          html +=
            "<tr><td>" +
            user.name +
            "</td> <td>" +
            user.email +
            "</td> <td>" +
            user.balance +
            "</td></tr>";
        });

        document.getElementById("data").innerHTML = html;
      },
    });
  </script>
</html>
